.content {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.content__text {
  font-size: 20px;
  line-height: 1.5;
  color: var(--text);
}

.content__btn {
  width: 100%;
  /*flex*/
  display: flex;
  justify-content: center;
}
